h1 {
  color: #FF8B72;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 48px;
  text-shadow: 2px 2px #82473a;
  font-weight: lighter;
}

header {
  border-bottom: 5px solid #FF8B72;
  width: 500px;
  text-align: center;
  margin-top: 50px;
  margin-left: 72px;

}
input {
  width: 200px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  border: none;
  background-color: #afccdd;
}
button {
  background-color: #FF8B72;
  border: none;
  border-radius: none;
  margin-left: 75px;
  font-family: 'Rubik Mono One', sans-serif;
  margin-top: 15px;
  font-size: 14px;
  color: #82473a;
}

body {
  background-image: url("pexels-photo-132037.jpeg")
}
footer {
  color: white;
  text-outline: 2px 2px #000000;
  text-align: right;
  font-family: 'Nunito Sans', sans-serif;
}
.messages {
  color: black;
  height: 100px;
  width: 450px;
  background-color: #afccdd;
  padding: 20px;
  font-size: 16px;
  margin: 40px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;

}

#message-board {
  text-align: center;
}

#entry-form {
  margin-left: 230px;
  margin-top: 30px;
}
